{% extends "base.html" %}

{% block content %}
<h1>Accounts</h1>
<table class="table accounts">
    <thead>
        <tr>
            <th>Account</th>
            <th>Balance</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account }}</td>
            <td>${{ account.balance }}</td>
            <td><a href="{% url 'debit' account.id %}" class="btn btn-default account-button">Debit</a></td>
            <td><a href="{% url 'credit' account.id %}" class="btn btn-default account-button">Credit</a></td>
            <td><a href="{% url 'detail' account.id %}" class="btn btn-info account-button">Transactions</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
