{% extends "base.html" %} {% block content %}
<h1>
    <a href="{% url 'index' %}">Accounts</a> | <a href="{% url 'detail' account.id %}">{{ account }}</a> | {{ operation|capfirst }}
</h1>
<form id="theForm" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-3" for="description">Description:</label>
        <div class="col-sm-6" id="descGroup">
            <input class="form-control" type="text" name="description" id="description" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="date">Date:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="date" id="date" value="{{ today|date:"Y-m-d" }}" style="position: relative; z-index: 100" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="amount">Amount:</label>
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input class="form-control" type="text" name="amount" id="amount" />
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <button type="button" id="cancel" class="pull-right btn btn-cancel" style="margin-left: 20px;">Cancel</button>
        <button type="button" id="save" class="pull-right btn btn-default">{{ operation|capfirst }}</button>
    </div>
</form>

<script>
$(function() {
    $.datepicker.setDefaults({dateFormat: 'yy-mm-dd'});
    $( "#date" ).datepicker();
    
    $("#description").focus();
    
    $('#save').on('click', function(e) {
        var failed = false;
        if(validateCurrency($('#amount'))) {
            $('#amount').parent().removeClass("has-error");
            $('#amount').parent().addClass("has-success")
        } else {
            $('#amount').parent().removeClass("has-success");
            $('#amount').parent().addClass("has-error");
            failed = true;
        }
        
        if($('#description').val().trim().length > 0) {
            $('#description').parent().removeClass("has-error");
            $('#description').parent().addClass("has-success");
        } else {
            $('#description').parent().removeClass("has-success");
            $('#description').parent().addClass("has-error");
            failed = true;
        }
        if(!failed) {
            $('#theForm').submit();
        }
    });
    
    function validateCurrency(element) {
        var amount = element.val();
        var regex = /^(?!0.00)(([0-9]{1,3},([0-9]{3},)*)[0-9]{3}|[0-9]{1,3})(\.[0-9]{2})?$/;
        return amount.match(regex);
    }
});
</script>
{% endblock %}
